serviceAccountKey.json
build/resolvedMainClassName
build/classes/java/aot/com/example/movienotifier/MovieNotifierApplication__ApplicationContextInitializer.class
build/classes/java/aot/com/example/movienotifier/MovieNotifierApplication__BeanDefinitions.class
build/classes/java/aot/com/example/movienotifier/MovieNotifierApplication__BeanFactoryRegistrations.class
build/classes/java/aot/com/example/movienotifier/service/FirebaseConfig__Autowiring.class
build/classes/java/aot/com/example/movienotifier/service/FirebaseConfig__BeanDefinitions.class
build/classes/java/aot/com/example/movienotifier/service/MoviePollingService__Autowiring.class
build/classes/java/aot/com/example/movienotifier/service/MoviePollingService__BeanDefinitions.class
build/classes/java/aot/com/example/movienotifier/service/NotificationService__BeanDefinitions.class
build/classes/java/aot/org/springframework/aop/framework/autoproxy/InfrastructureAdvisorAutoProxyCreator__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/AutoConfigurationPackages__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/AutoConfigurationPackages__BeanDefinitions$BasePackages.class
build/classes/java/aot/org/springframework/boot/autoconfigure/aop/AopAutoConfiguration__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/aop/AopAutoConfiguration__BeanDefinitions$ClassProxyingConfiguration.class
build/classes/java/aot/org/springframework/boot/autoconfigure/availability/ApplicationAvailabilityAutoConfiguration__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/context/ConfigurationPropertiesAutoConfiguration__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/context/LifecycleAutoConfiguration__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/context/LifecycleProperties__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/context/PropertyPlaceholderAutoConfiguration__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/gson/GsonAutoConfiguration__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/gson/GsonProperties__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/http/GsonHttpMessageConvertersConfiguration__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/http/HttpMessageConvertersAutoConfiguration__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/http/HttpMessageConvertersAutoConfiguration__BeanDefinitions$StringHttpMessageConverterConfiguration.class
build/classes/java/aot/org/springframework/boot/autoconfigure/http/JacksonHttpMessageConvertersConfiguration__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/http/JacksonHttpMessageConvertersConfiguration__BeanDefinitions$MappingJackson2HttpMessageConverterConfiguration.class
build/classes/java/aot/org/springframework/boot/autoconfigure/http/client/HttpClientAutoConfiguration__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/http/client/HttpClientProperties__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/info/ProjectInfoAutoConfiguration__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/info/ProjectInfoProperties__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/jackson/JacksonAutoConfiguration__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/jackson/JacksonAutoConfiguration__BeanDefinitions$Jackson2ObjectMapperBuilderCustomizerConfiguration.class
build/classes/java/aot/org/springframework/boot/autoconfigure/jackson/JacksonAutoConfiguration__BeanDefinitions$JacksonMixinConfiguration.class
build/classes/java/aot/org/springframework/boot/autoconfigure/jackson/JacksonAutoConfiguration__BeanDefinitions$JacksonObjectMapperBuilderConfiguration.class
build/classes/java/aot/org/springframework/boot/autoconfigure/jackson/JacksonAutoConfiguration__BeanDefinitions$JacksonObjectMapperConfiguration.class
build/classes/java/aot/org/springframework/boot/autoconfigure/jackson/JacksonAutoConfiguration__BeanDefinitions$ParameterNamesModuleConfiguration.class
build/classes/java/aot/org/springframework/boot/autoconfigure/jackson/JacksonProperties__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/netty/NettyAutoConfiguration__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/netty/NettyProperties__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/sql/init/SqlInitializationAutoConfiguration__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/sql/init/SqlInitializationProperties__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/ssl/SslAutoConfiguration__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/ssl/SslProperties__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/task/TaskExecutionAutoConfiguration__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/task/TaskExecutionProperties__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/task/TaskExecutorConfigurations__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/task/TaskExecutorConfigurations__BeanDefinitions$SimpleAsyncTaskExecutorBuilderConfiguration.class
build/classes/java/aot/org/springframework/boot/autoconfigure/task/TaskExecutorConfigurations__BeanDefinitions$TaskExecutorConfiguration.class
build/classes/java/aot/org/springframework/boot/autoconfigure/task/TaskExecutorConfigurations__BeanDefinitions$ThreadPoolTaskExecutorBuilderConfiguration.class
build/classes/java/aot/org/springframework/boot/autoconfigure/task/TaskSchedulingAutoConfiguration__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/task/TaskSchedulingConfigurations__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/task/TaskSchedulingConfigurations__BeanDefinitions$SimpleAsyncTaskSchedulerBuilderConfiguration.class
build/classes/java/aot/org/springframework/boot/autoconfigure/task/TaskSchedulingConfigurations__BeanDefinitions$ThreadPoolTaskSchedulerBuilderConfiguration.class
build/classes/java/aot/org/springframework/boot/autoconfigure/task/TaskSchedulingProperties__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/web/ServerProperties__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/web/WebProperties__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/web/client/RestClientAutoConfiguration__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/web/client/RestTemplateAutoConfiguration__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/web/embedded/EmbeddedWebServerFactoryCustomizerAutoConfiguration__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/web/embedded/EmbeddedWebServerFactoryCustomizerAutoConfiguration__BeanDefinitions$TomcatWebServerFactoryCustomizerConfiguration.class
build/classes/java/aot/org/springframework/boot/autoconfigure/web/servlet/DispatcherServletAutoConfiguration__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/web/servlet/DispatcherServletAutoConfiguration__BeanDefinitions$DispatcherServletConfiguration.class
build/classes/java/aot/org/springframework/boot/autoconfigure/web/servlet/DispatcherServletAutoConfiguration__BeanDefinitions$DispatcherServletRegistrationConfiguration.class
build/classes/java/aot/org/springframework/boot/autoconfigure/web/servlet/HttpEncodingAutoConfiguration__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/web/servlet/MultipartAutoConfiguration__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/web/servlet/MultipartProperties__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/web/servlet/ServletWebServerFactoryAutoConfiguration__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/web/servlet/ServletWebServerFactoryConfiguration__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/web/servlet/ServletWebServerFactoryConfiguration__BeanDefinitions$EmbeddedTomcat.class
build/classes/java/aot/org/springframework/boot/autoconfigure/web/servlet/WebMvcAutoConfiguration__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/web/servlet/WebMvcAutoConfiguration__BeanDefinitions$EnableWebMvcConfiguration.class
build/classes/java/aot/org/springframework/boot/autoconfigure/web/servlet/WebMvcAutoConfiguration__BeanDefinitions$WebMvcAutoConfigurationAdapter.class
build/classes/java/aot/org/springframework/boot/autoconfigure/web/servlet/WebMvcAutoConfiguration_EnableWebMvcConfiguration__Autowiring.class
build/classes/java/aot/org/springframework/boot/autoconfigure/web/servlet/WebMvcProperties__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/web/servlet/error/ErrorMvcAutoConfiguration__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/web/servlet/error/ErrorMvcAutoConfiguration__BeanDefinitions$DefaultErrorViewResolverConfiguration.class
build/classes/java/aot/org/springframework/boot/autoconfigure/web/servlet/error/ErrorMvcAutoConfiguration__BeanDefinitions$WhitelabelErrorViewConfiguration.class
build/classes/java/aot/org/springframework/boot/autoconfigure/websocket/servlet/WebSocketServletAutoConfiguration__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/autoconfigure/websocket/servlet/WebSocketServletAutoConfiguration__BeanDefinitions$TomcatWebSocketConfiguration.class
build/classes/java/aot/org/springframework/boot/context/properties/BoundConfigurationProperties__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/context/properties/ConfigurationPropertiesBinder__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/context/properties/ConfigurationPropertiesBinder__BeanDefinitions$ConfigurationPropertiesBinderFactory.class
build/classes/java/aot/org/springframework/boot/context/properties/ConfigurationPropertiesBindingPostProcessor__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/jackson/JsonMixinModuleEntries__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/sql/init/dependency/DatabaseInitializationDependencyConfigurer__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/sql/init/dependency/DatabaseInitializationDependencyConfigurer__BeanDefinitions$DependsOnDatabaseInitializationPostProcessor.class
build/classes/java/aot/org/springframework/boot/validation/beanvalidation/MethodValidationExcludeFilter__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/web/server/ErrorPageRegistrarBeanPostProcessor__BeanDefinitions.class
build/classes/java/aot/org/springframework/boot/web/server/WebServerFactoryCustomizerBeanPostProcessor__BeanDefinitions.class
build/classes/java/aot/org/springframework/context/event/DefaultEventListenerFactory__BeanDefinitions.class
build/classes/java/aot/org/springframework/context/event/EventListenerMethodProcessor__BeanDefinitions.class
build/classes/java/main/com/example/movienotifier/MovieNotifierApplication.class
build/classes/java/main/com/example/movienotifier/service/FirebaseConfig.class
build/classes/java/main/com/example/movienotifier/service/MoviePollingService.class
build/classes/java/main/com/example/movienotifier/service/MovieResponse.class
build/classes/java/main/com/example/movienotifier/service/MovieResponse$Data.class
build/classes/java/main/com/example/movienotifier/service/MovieResponse$Movie.class
build/classes/java/main/com/example/movienotifier/service/NotificationService.class
build/generated/aotClasses/com/example/movienotifier/MovieNotifierApplication$$SpringCGLIB$$0.class
build/generated/aotClasses/com/example/movienotifier/service/FirebaseConfig$$SpringCGLIB$$0.class
build/generated/aotResources/META-INF/native-image/com.example/movie-notifier/native-image.properties
build/generated/aotResources/META-INF/native-image/com.example/movie-notifier/reflect-config.json
build/generated/aotResources/META-INF/native-image/com.example/movie-notifier/resource-config.json
build/generated/aotSources/com/example/movienotifier/MovieNotifierApplication__ApplicationContextInitializer.java
build/generated/aotSources/com/example/movienotifier/MovieNotifierApplication__BeanDefinitions.java
build/generated/aotSources/com/example/movienotifier/MovieNotifierApplication__BeanFactoryRegistrations.java
build/generated/aotSources/com/example/movienotifier/service/FirebaseConfig__Autowiring.java
build/generated/aotSources/com/example/movienotifier/service/FirebaseConfig__BeanDefinitions.java
build/generated/aotSources/com/example/movienotifier/service/MoviePollingService__Autowiring.java
build/generated/aotSources/com/example/movienotifier/service/MoviePollingService__BeanDefinitions.java
build/generated/aotSources/com/example/movienotifier/service/NotificationService__BeanDefinitions.java
build/generated/aotSources/org/springframework/aop/framework/autoproxy/InfrastructureAdvisorAutoProxyCreator__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/AutoConfigurationPackages__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/aop/AopAutoConfiguration__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/availability/ApplicationAvailabilityAutoConfiguration__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/context/ConfigurationPropertiesAutoConfiguration__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/context/LifecycleAutoConfiguration__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/context/LifecycleProperties__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/context/PropertyPlaceholderAutoConfiguration__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/gson/GsonAutoConfiguration__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/gson/GsonProperties__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/http/GsonHttpMessageConvertersConfiguration__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/http/HttpMessageConvertersAutoConfiguration__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/http/JacksonHttpMessageConvertersConfiguration__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/http/client/HttpClientAutoConfiguration__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/http/client/HttpClientProperties__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/info/ProjectInfoAutoConfiguration__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/info/ProjectInfoProperties__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/jackson/JacksonAutoConfiguration__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/jackson/JacksonProperties__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/netty/NettyAutoConfiguration__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/netty/NettyProperties__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/sql/init/SqlInitializationAutoConfiguration__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/sql/init/SqlInitializationProperties__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/ssl/SslAutoConfiguration__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/ssl/SslProperties__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/task/TaskExecutionAutoConfiguration__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/task/TaskExecutionProperties__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/task/TaskExecutorConfigurations__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/task/TaskSchedulingAutoConfiguration__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/task/TaskSchedulingConfigurations__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/task/TaskSchedulingProperties__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/web/ServerProperties__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/web/WebProperties__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/web/client/RestClientAutoConfiguration__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/web/client/RestTemplateAutoConfiguration__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/web/embedded/EmbeddedWebServerFactoryCustomizerAutoConfiguration__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/web/servlet/DispatcherServletAutoConfiguration__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/web/servlet/HttpEncodingAutoConfiguration__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/web/servlet/MultipartAutoConfiguration__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/web/servlet/MultipartProperties__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/web/servlet/ServletWebServerFactoryAutoConfiguration__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/web/servlet/ServletWebServerFactoryConfiguration__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/web/servlet/WebMvcAutoConfiguration__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/web/servlet/WebMvcAutoConfiguration_EnableWebMvcConfiguration__Autowiring.java
build/generated/aotSources/org/springframework/boot/autoconfigure/web/servlet/WebMvcProperties__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/web/servlet/error/ErrorMvcAutoConfiguration__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/autoconfigure/websocket/servlet/WebSocketServletAutoConfiguration__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/context/properties/BoundConfigurationProperties__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/context/properties/ConfigurationPropertiesBinder__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/context/properties/ConfigurationPropertiesBindingPostProcessor__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/jackson/JsonMixinModuleEntries__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/sql/init/dependency/DatabaseInitializationDependencyConfigurer__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/validation/beanvalidation/MethodValidationExcludeFilter__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/web/server/ErrorPageRegistrarBeanPostProcessor__BeanDefinitions.java
build/generated/aotSources/org/springframework/boot/web/server/WebServerFactoryCustomizerBeanPostProcessor__BeanDefinitions.java
build/generated/aotSources/org/springframework/context/event/DefaultEventListenerFactory__BeanDefinitions.java
build/generated/aotSources/org/springframework/context/event/EventListenerMethodProcessor__BeanDefinitions.java
build/libs/movie-notifier-0.0.1-SNAPSHOT-plain.jar
build/libs/movie-notifier-0.0.1-SNAPSHOT.jar
build/native/generated/generateResourcesConfigFile/resource-config.json
build/native-reachability-metadata/META-INF/native-image/ch.qos.logback/logback-classic/1.5.12/reflect-config.json
build/native-reachability-metadata/META-INF/native-image/ch.qos.logback/logback-classic/1.5.12/resource-config.json
build/native-reachability-metadata/META-INF/native-image/com.fasterxml.jackson.core/jackson-databind/2.18.1/reflect-config.json
build/native-reachability-metadata/META-INF/native-image/com.google.protobuf/protobuf-java-util/3.21.8/reflect-config.json
build/native-reachability-metadata/META-INF/native-image/commons-logging/commons-logging/1.2/reflect-config.json
build/native-reachability-metadata/META-INF/native-image/io.netty/netty-buffer/4.1.115.Final/reachability-metadata.properties
build/native-reachability-metadata/META-INF/native-image/io.netty/netty-codec-http/4.1.115.Final/reachability-metadata.properties
build/native-reachability-metadata/META-INF/native-image/io.netty/netty-common/4.1.115.Final/jni-config.json
build/native-reachability-metadata/META-INF/native-image/io.netty/netty-common/4.1.115.Final/reachability-metadata.properties
build/native-reachability-metadata/META-INF/native-image/io.netty/netty-common/4.1.115.Final/reflect-config.json
build/native-reachability-metadata/META-INF/native-image/io.netty/netty-common/4.1.115.Final/resource-config.json
build/native-reachability-metadata/META-INF/native-image/io.netty/netty-common/4.1.115.Final/serialization-config.json
build/native-reachability-metadata/META-INF/native-image/io.netty/netty-handler/4.1.115.Final/reachability-metadata.properties
build/native-reachability-metadata/META-INF/native-image/io.netty/netty-transport/4.1.115.Final/reachability-metadata.properties
build/native-reachability-metadata/META-INF/native-image/org.apache.httpcomponents/httpclient/4.5.13/reflect-config.json
build/native-reachability-metadata/META-INF/native-image/org.apache.httpcomponents/httpclient/4.5.13/resource-config.json
build/native-reachability-metadata/META-INF/native-image/org.apache.httpcomponents/httpclient/4.5.13/serialization-config.json
build/native-reachability-metadata/META-INF/native-image/org.apache.tomcat.embed/tomcat-embed-core/10.1.33/reflect-config.json
build/native-reachability-metadata/META-INF/native-image/org.apache.tomcat.embed/tomcat-embed-core/10.1.33/resource-config.json
build/reports/problems/problems-report.html
build/resources/aot/META-INF/native-image/com.example/movie-notifier/native-image.properties
build/resources/aot/META-INF/native-image/com.example/movie-notifier/reachability-metadata.json
build/resources/aot/META-INF/native-image/com.example/movie-notifier/reflect-config.json
build/resources/aot/META-INF/native-image/com.example/movie-notifier/resource-config.json
build/resources/main/application.properties
build/resources/main/META-INF/native-image/reachability-metadata.json
build/tmp/bootJar/MANIFEST.MF
build/tmp/compileAotJava/previous-compilation-data.bin
build/tmp/compileJava/previous-compilation-data.bin
build/tmp/jar/MANIFEST.MF
.gradle/file-system.probe
.gradle/4.4.1/fileChanges/last-build.bin
.gradle/4.4.1/fileHashes/fileHashes.bin
.gradle/4.4.1/fileHashes/fileHashes.lock
.gradle/8.5/gc.properties
.gradle/8.5/checksums/checksums.lock
.gradle/8.5/dependencies-accessors/dependencies-accessors.lock
.gradle/8.5/dependencies-accessors/gc.properties
.gradle/8.5/fileChanges/last-build.bin
.gradle/8.5/fileHashes/fileHashes.lock
.gradle/8.9/gc.properties
.gradle/8.9/checksums/checksums.lock
.gradle/8.9/checksums/md5-checksums.bin
.gradle/8.9/checksums/sha1-checksums.bin
.gradle/8.9/dependencies-accessors/gc.properties
.gradle/8.9/executionHistory/executionHistory.lock
.gradle/8.9/fileChanges/last-build.bin
.gradle/8.9/fileHashes/fileHashes.lock
.gradle/9.4.0/gc.properties
.gradle/9.4.0/checksums/checksums.lock
.gradle/9.4.0/checksums/md5-checksums.bin
.gradle/9.4.0/checksums/sha1-checksums.bin
.gradle/9.4.0/executionHistory/executionHistory.bin
.gradle/9.4.0/executionHistory/executionHistory.lock
.gradle/9.4.0/expanded/expanded.lock
.gradle/9.4.0/fileChanges/last-build.bin
.gradle/9.4.0/fileHashes/fileHashes.bin
.gradle/9.4.0/fileHashes/fileHashes.lock
.gradle/9.4.0/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/vcs-1/gc.properties
/.gradle/
/bin/
/build/
